{{define "markdown-help"}}<details class="md-help">
  <summary class="muted small">{{t "markdown.hint"}}</summary>
  <ul class="md-help__list small">
    <li><code>**{{t "markdown.bold"}}**</code> · <code>*{{t "markdown.italic"}}*</code> · <code>~~{{t "markdown.strike"}}~~</code> · <code>`{{t "markdown.code"}}`</code></li>
    <li><code># {{t "markdown.heading"}}</code> · <code>- {{t "markdown.item"}}</code> · <code>- [ ] {{t "markdown.task"}}</code> · <code>&gt; {{t "markdown.quote"}}</code></li>
    <li><code>[{{t "markdown.link"}}](https://…)</code></li>
  </ul>
</details>{{end}}
